# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
ios/
android/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.keystore
*.mobileprovision
*.apk
*.aab
*.ipa
*.app

# Build outputs
static-build/
android/app/build/
ios/build/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local
.env.development
.env.production
.env.test

# IDE and local config
.vscode/
.replit/
.idea/
.config/
.local/

# typescript
*.tsbuildinfo
.vercel
